SLIDESHARE_API_KEY = ''
SLIDESHARE_SECRET_KEY = ''

BITLY_LOGIN = ''
BITLY_API_KEY = ''

CONSUMER_KEY = ''
CONSUMER_SECRET = ''
ACCESS_TOKEN = ''
ACCESS_SECRET = ''

HATEB_EID_RSS = ''
HATEB_HOT_RSS = ''

LOG_EID = 'log/eid.log'
LOG_HOT = 'log/hot.log'
LOG_ERROR = 'log/error.log'

HASHTAG_LIST = [
]
