RSS_URL = ''

SLIDESHARE_API_KEY = ''
SLIDESHARE_SECRET_KEY = ''

BITLY_LOGIN = ''
BITLY_API_KEY = ''

CONSUMER_KEY = ''
CONSUMER_SECRET = ''
ACCESS_TOKEN = ''
ACCESS_SECRET = ''

LOG_LATEST = 'log/latest.log'
LOG_ERROR = 'log/error.log'

HASHTAG_LIST = [
]
